@import "tailwindcss";

@theme {
  --color-backgroundChat: rgb(3, 0, 31);
  --color-borderWhite: rgb(100, 100, 100);
  --font-poppinsGoogle: "Poppins", sans-serif;
}

body {
  @apply  bg-backgroundChat text-white font-poppinsGoogle;
}
